h1{
  border-bottom: 4px solid lightblue;
  padding-bottom: 10px;
  text-align: center;
  color: orange;
}
#main{
  position:relative;
  height: 500px;
  width:1300px;
}

#flower{
  float: left;
  height:30%;
  width:60%;
}
#aboutFlower{
  margin-top: 150px;
  position: relative;
  float: right;
  height:40%;
  width:30%;
}
